@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
}

/* ShopNow */
.shop-child, .category-item, .feature-boxes{
    opacity: 0;
    transition: opacity 200ms ease-in-out;
 }

 .feature-boxes:hover {
   opacity: 1;
 }

 .shop-child:hover, .category-item:hover {
    opacity: 1;
    background-color: rgba(255,0,0,0.6);
 }

 .shop-button:hover {
    background-color: #f00;
    color: white;
 }
